{{ define "main" }}
<main>
  <article>
    <header>
      <h1 class="h-anim">Love Games</h1>
    </header>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  </article>
  <!-- Ranges through content/post/*.md -->
  {{ .Content }}

  <ul class="nav">
    {{ range .Site.Sections }}
    <li><a href="{{ .Permalink }}">{{ .Title | lower }}</a></li>
    {{ end }}
  </ul>

  {{ range (.Data.Pages.ByLinkTitle).Reverse }}
  <article class="li">
    <header>
      <a class="title" href="{{.Permalink}}">{{.Title}}</a>
    </header>
  </article>
  {{ end }}


</main>
{{ end }}
